<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <%- include('./recentPosts.ejs') %>
        </div>
        <!-- end col -->

    

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <%- include('./popularCategories.ejs') %>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-md-12 text-center">
          <br />
          <br />
          <div class="copyright">
            &copy;
            <a href="https://readtechblog.tech">Read Tech Blog</a>.
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </footer>
  <!-- end footer -->

  <button type="button" class="dmtop"></button>
</div>
<!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script src="js/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
</body>
</html>