<div class="widget">
    <h2 class="widget-title">Popular Categories</h2>
    <div class="link-widget">
      <ul>
        <li>
          <a href="#">Technology <span>(3)</span></a>
        </li>
        <li>
          <a href="#">SEO Service <span>(0)</span></a>
        </li>
        <li>
          <a href="#">Make Money <span>(0)</span></a>
        </li>
        <li>
          <a href="#">Entertaintment <span>(0)</span></a>
        </li>
      </ul>
    </div>
    <!-- end link-widget -->
  </div>
  <!-- end widget -->