<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <div id="wrapper">
<%- include('../includes/navigation.ejs') %>
      <section class="section lb m3rem">
        <h1>404 Not Found!</h1>
</section>
        <%- include('../includes/end.ejs') %>
